.heading{
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 3rem;
}
.sub{
  text-align: center;
  margin: 40px;
}
.sub a{
  text-decoration: none;
  font-size: 30px;
  color: #000;
}
.sub a:hover{
  text-shadow: 0 0 8px rgba(255,255, 255, 0.8);

}
.footer{
  padding: 15px 0 ;
  font-size: 15px;
  background-color: #000;
}
